/SmtpPlan.java
/StmpCategory.java
/StmpColor.java
/StmpOrder.java
/StmpOrderDetail.java
/StmpPaymentType.java
/StmpShippingType.java
/StmpShirt.java
/StmpShirtRating.java
/StmpShirtStyle.java
/StmpSize.java
/StmpStamp.java
/StmpStampRating.java
/StmpUser.java
