.img-overlay {
    position: relative;
    max-width: 500px;
}

.project-overlay {
  position: absolute;
  top: 25%;
  left: 32%;
  width: 150px;
  height: 50px;
}

.project-overlay-small {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 75px;
  height: 50px;
}

.project-overlay-mid {
  position: absolute;
  top: 17%;
  left: 36%;
  width: 100px;
  height: 50px;
}

.view-product-stamp img {
  border: 1px solid #F7F7F0;
  width: 100%;
}

.stamp_text{
  text-align: center;
  width: 120px;
  word-wrap: break-word;
}