<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="co.com.uniandes.stampidia.configurator.commands.category">
      </category>
      <command
            name="Configurador"
            categoryId="co.com.uniandes.stampidia.configurator.commands.category"
            id="co.com.uniandes.stampidia.configurator.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="co.com.uniandes.stampidia.configurator.commands.sampleCommand"
            class="co.com.uniandes.stampidia.configurator.handlers.ConfiguratorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="co.com.uniandes.stampidia.configurator.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Stampidia"
               mnemonic="M"
               id="co.com.uniandes.stampidia.configurator.menus.sampleMenu">
            <command
                  commandId="co.com.uniandes.stampidia.configurator.commands.sampleCommand"
                  mnemonic="S"
                  id="co.com.uniandes.stampidia.configurator.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
