*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
target/stampidia
target/m2e-wtp
target/maven-archiver
target/classes
.DS_STORE
.idea/
stampidia.iml