/CategoryRepository.java
/ColorRepository.java
/OrderDetailRepository.java
/OrderRepository.java
/PaymentTypeRepository.java
/ShirtRepository.java
/SizeRepository.java
/StampRepository.java
/UserRepository.java
