<div class="product-details"><!--product-details-->
	<div class="col-sm-5">
		<div class="view-product">
			<img ng-src="{{product.resultado.image}}" alt="" /> 
		</div>
	</div>
	<div class="col-sm-7">
		<div class="product-information"><!--/product-information-->
			<h2>{{product.resultado.name}}</h2>
			<div class="form-group">
		  <label for="size">Talla</label>
		  <select class="form-control" id="size">
		    <option>S</option>
		    <option>M</option>
		    <option>L</option>
		    <option>XL</option>
		  </select>
		</div>
			
		</div><!--/product-information-->
	</div>
</div><!--/product-details-->