<div id="reviews" class="product-details"><!--product-details-->
	<div class="col-sm-5">
		<div class="view-product">
			<img ng-src="{{product.stamp.image}}" alt="" /> 
		</div>
	</div>
	<form name = "createProductForm" novalidate >
		<div class="col-sm-7">
			<div class="product-information"><!--/product-information-->
			    <p><b>{{product.stamp.name}}</b></p>
		    	<p><b>Talla</b></p>
		    	<span>
			 		<select ng-options="size.name for size in sizes track by size.id" ng-model="product.size">
			  		</select>
			   </span>
			   <p><b>color</b></p>
			   <span>
			   		<select ng-options="color.name for color in colorsShirt track by color.id" ng-model="product.color">
			  		</select>
		       </span>
			   <p><b>Styles</b></p>
			   <span>
			   		<select ng-options="style.name for style in shirtStyles track by style.id" ng-model="product.styleShirt">
			  		</select>
			   </span>	
			   <p><b>Text</b></p>
			   <span>
			     <input name = "product.text" type="text" ng-model = "product.text" required>
			  </span>	
			  <button class="btn btn-fefault cart" type="button" ng-click="createProduct()">Create</button>
				
			</div><!--/product-information-->
		</div>
	</form>
</div><!--/product-details-->