<section>
	<div class="container">
		<div class="col-sm-3">
			<div class="left-sidebar">
				<div class="panel-group category-products" id="accordian">
					<!-- 					<img src="/stampidia/lib/bootstrap/images/stamps/stamp.jpg" alt="" height="250" width="250" /> -->
					<img ng-show="file[0] != null" ngf-thumbnail="file[0]" class="thumb" alt="" height="250" width="250">
					<span class="progress" ng-show="file[0].progress >= 0">
						<div style="width: {{file[0].progress" ng-bind="file[0].progress + '%'"></div>
					</span>
					<!--category-productsr-->
					<div class="panel panel-default">
						<div class="panel-heading"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 padding-right">
			<h2 class="title text-center">Create Stamps</h2>
			<form name="createStampForm">
				<div id="reviews" class="product-details">
					<!--product-details-->
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.stamp_name.$invalid, 'has-success' : createStampForm.stamp_name.$valid }">
						<p>
							<b>Name</b>
						</p>
						<input name="stamp_name" placeholder="Name" type="text" ng-model="stamp.name" required>
						<div ng-show="createStampForm.stamp_name.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_name.$error.required" class="alert alert-danger" role="alert">Mandatory Field</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,
					'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Description</b>
						</p>
						<input name="stamp_description" placeholder="Description" type="text" ng-model="stamp.description" required>
						<div ng-show="createStampForm.stamp_description.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_description.$error.required" class="alert alert-danger" role="alert">Mandatory Field</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Image</b>
						</p>
						<input name="stamp_image" placeholder="Image" type="text" ng-model="stamp.image" required>
						<div ng-show="createStampForm.stamp_image.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_image.$error.required" class="alert alert-danger" role="alert">Mandatory Field</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Tags</b>
						</p>
						<input name="stamp_tags" placeholder="Tags" type="text" ng-model="stamp.tags" required>
						<div ng-show="createStampForm.stamp_tags.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_tags.$error.required" class="alert alert-danger" role="alert">Mandatory Field</div>
						</div>
					</div>
					<div class="form-group">
						<p>
							<b>Category</b>
						</p>
						<select ng-options="category.name for category in categories track by category.id" ng-model="stamp.category" required>
							<option value=''>- Please Choose -</option>
						</select>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Sales Number</b>
						</p>
						<input name="stamp_salesNumber" placeholder="Sales Number" type="number" ng-model="stamp.salesNumber" required>
						<div ng-show="createStampForm.stamp_salesNumber.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_salesNumber.$error.number" class="alert alert-danger" role="alert">Only Numbers</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Price</b>
						</p>
						<input id="price" name="stamp_price" placeholder="Price" type="number" ng-model="stamp.price" required>
						<div ng-show="createStampForm.stamp_price.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.stamp_price.$error.number" class="alert alert-danger" role="alert">Only Numbers</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : createStampForm.product_text.$invalid,'has-success' : createStampForm.product_text.$valid }">
						<p>
							<b>Stamp</b>
						</p>
						<span>
							<input type="file" ngf-select="" ng-model="file" name="file" accept="image/*" ngf-change="generateThumb(file[0], $file)" required>
						</span>
						<div ng-show="createStampForm.file.$dirty">
							<!--validate message-->
							<div ng_show="createStampForm.file.$error.number" class="alert alert-danger" role="alert">Only Numbers</div>
						</div>
					</div>
					<br>
					<br>
					<br>
					<modal title="Login form" visible="showModal">
					<button ng_disabled="createStampForm.$invalid" class="btn btn-fefault cart" type="button" ng-click="createStamp()">Create</button>
				</div>
				<!--/product-information-->
			</form>
		</div>
	</div>
</section>