<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in order.stmpOrderDetailList">
                    <td class="cart_product">
                        <a href=""><img src="{{item.idShirt.idStamp.image}}" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4>{{item.idShirt.text}}</h4>
                        <!--p>Web ID: 1089772</p-->
                    </td>
                    <td class="cart_price">
                        <p>{{item.unitValue | currency}}</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href="" ng-click="increaseQuantity(item)"> + </a>
                            <input class="cart_quantity_input" name="quantity" value="{{item.quantity}}" autocomplete="off" size="2"></input>
                            <a class="cart_quantity_down" href="" ng-click="decreaseQuantity(item)"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.quantity * item.unitValue | currency}}</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href="" ng-click="removeItem(item)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container" ng-hide="continueFlag()">
        <div class="heading">
            <h3>What would you like to do next?</h3>
        </div>
        <div class="row">
            <a class="btn btn-default check_out" href="" ng-click="saveOrder()">Save order & Continue</a>
        </div>
    </div>
</section><!--/#do_action-->