<div id="share-buttons">
 
<!-- Facebook -->
<a href="javascript:facebookShare('http://jsfiddle.net/stichoza/EYxTJ/', 'I saw it on Stampidia', 'I want this shirt!', 'http://goo.gl/dS52U', 520, 350)" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
<!-- Twitter -->
<a href="javascript:twitterShare('http://jsfiddle.net/stichoza/EYxTJ/', 'I saw it on Stampidia', 'WeLoveStampidia', 520, 300)" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
 </div>
 
 
 <script>
    function facebookShare(url, title, descr, image, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
	function twitterShare(url, text, hashtags, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://twitter.com/share?url=' + url + '&text=' + text + '&hashtags=' + hashtags, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
	
</script>