{{error}} {{mensaje}}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>My Account</h2>
					<form name="form">
						<input type="password" placeholder="Password"
						ng-model="signupData.password" required />
						<input type="text" placeholder="Address"
						ng-model="signupData.address" required />
						<button type="button" class="btn btn-default" ng-click="signup()"
							ng-disabled="form.$invalid">Edit Account</button>
					</form>
				</div>
				<!--/login form-->
			</div>
		</div>
	</div>
</section>