{{error}} {{mensaje}}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Register Now</h2>
					<form name="form">
						<input name="username" type="text" placeholder="User"
							ng-model="signupData.username" required /> <input
							type="password" placeholder="Password"
							ng-model="signupData.password" required /> <input type="text"
							placeholder="Email" ng-model="signupData.email" required /> 
							<input type="text" placeholder="Address" ng-model="signupData.address" required />
							<input type="text" placeholder="Facebook"
							ng-model="signupData.facebookEmail" /> <input type="text"
							placeholder="Twitter" ng-model="signupData.twitterEmail" /> <input
							type="checkbox" ng-model="signupData.isSeller"
							style="height: 15px;" /> Is Seller </br> 
							<select ng-model="signupData.idPlan.id" ng-show="signupData.isSeller">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select> 
							<input type="checkbox" ng-model="signupData.status"
							style="height: 15px;" /> Status </br>

						<button type="button" class="btn btn-default" ng-click="signup()"
							ng-disabled="form.$invalid">Register</button>
					</form>
				</div>
				<!--/login form-->
			</div>
		</div>
	</div>
</section>