{{error}} {{mensaje}}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<h2 class="title text-center">My Orders</h2>
			<h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>PAY METHOD</th>
							<th>DATE</th>
							<th>TOTAL AMOUNT</th>
							<th>PRODUCT RATING</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in orderData">
							<td>{{ order.id }}</td>
							<td>{{ order.idShippingType.name}}</td>
							<td>{{ order.date }}</td>
							<td>{{ order.totalAmount }}</td>
							<td>
								<input id="input-2d" class="rating" min="0" max="5" step="1" data-size="sm"
									   data-symbol="&#xf0fc;" data-glyphicon="false"
									   data-rating-class="rating-fa" data-default-caption="{rating} drinks"
									   data-star-captions="{}">
							</td>
						</tr>
					</tbody>
				</table>
			</h5>

		</div>
	</div>
</section>