{{error}} {{mensaje}}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<h2 class="title text-center">Summary Order</h2>
			<h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Shirt Name</th>
							<th>Shirt Style</th>
							<th>Shirt Color</th>
							<th>Shirt Size</th>
							<th>Quantity</th>
							<th>Rate your Product</th>
							<th>Rate your Stamp</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="orderSel in selectedOrderDetail">
							<td>{{ orderSel.idShirt.idStamp.name }}</td>
							<td>{{ orderSel.idShirt.idStyle.name }}</td>
							<td>{{ orderSel.idShirt.idColor.name}}</td>
							<td>{{ orderSel.idShirt.idSize.name}}</td>
							<td>{{ orderSel.quantity}}</td>
							<td>
								<div star-rating ng-model="shirtRating"
									on-rating-selected="valorationFunction(rating)">
								</div>
								<input type="text" ng-model="comment" ng-hide="hideComment"  ng-blur="rateFunction(comment, orderSel.idShirt.id)"/>
							</td>
							<td>
								<div star-rating ng-model="stampRating"
									on-rating-selected="valorationStampFunction(rating)">
								</div>
								<input type="text" ng-model="stampComment" ng-hide="hideStampComment"  ng-blur="rateStampFunction(stampComment, orderSel.idShirt.idStamp.id)"/>
							</td>
						</tr>
					</tbody>
				</table>
		</div>

	</div>
</section>